<section class="hero-main">
    <div class="container">
      <h1 class="title">
        ユーザー
      </h1>
    </div>
</section>

<section class="section">
  <% @users.each do |user| %>
    <div class="container-user">
      <%= link_to user_path(user) do %>
        <div class="columns m-0 is-centered">
          <div class="column is-12">
            <div class="columns is-centered">
                <div class="column is-4">
                  <figure class="image is-48x48"  style="margin-left: auto; margin-right: auto;">
                      <%= attachment_image_tag user, :profile_image, fallback: "nophoto_thumbnail.png", class: "profile_image is-rounded" %>
                  </figure>
                </div>
                <div class="column p-0 is-8">
                  <table>
                    <tr>
                      <td class="is-size-5 has-text-left">
                        <%=user.username %>
                      </td>
                    </tr>
                    <tr>
                      <td class="is-size-5 has-text-left">
                        <%=user.profile %>
                      </td>
                    </tr>
                  </table>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>