<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        loopgram
      </h1>
      <h2 class="subtitle has-text-centered">
        Fullheight subtitle
      </h2>
    </div>

    <div class="container">
      <div class="column">
        <div class="card py-6">
          <div class="card-content p-1">
            <%= link_to "投稿を見る", shops_path, class: "text is-fullwidth" %>
          </div>
          <div class="card-content">
            <%= link_to "ログイン", new_user_session_path, class: "button is-fullwidth" %>
          </div>
          <div class="card-content">
            <%= link_to "新規登録", new_user_registration_path, class: "button is-fullwidth" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field down-icon-field">
    <div class="icon">
      <a href="#second-section" class="down-icon">
        <i class="fas fa-chevron-down"></i>
      </a>
    </div>
  </div>
</section>

<seciotn id="second-section">
  <div class="container">
    <div class="container m-6">
      <div class="field is-size-4 p-6">
      <p>紹介</p>
      </div>
      <div class="columns is-multiline py-6">
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <p>ああああああああああああああああああああああ</p>
            </div>
            <div class="card-content">
              <p>ああああああああああああああああああああああ</p>
            </div>
            <div class="card-content">
              <p>ああああああああああああああああああああああ</p>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <p>ああああああああああああああああああああああ</p>
            </div>
            <div class="card-content">
              <p>ああああああああああああああああああああああ</p>
            </div>
            <div class="card-content">
              <p>ああああああああああああああああああああああ</p>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <p>ああああああああああああああああああああああ</p>
            </div>
            <div class="card-content">
              <p>ああああああああああああああああああああああ</p>
            </div>
            <div class="card-content">
              <p>ああああああああああああああああああああああ</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</seciotn>